<div class="span3 subscribe-form">
  {% if error %}
    <div class="alert alert-error">{{ error }}</div>
  {% endif %}
  <form action="{% url 'payments_ajax_subscribe' %}" class="form ajax"  data-stripe-key="{{ STRIPE_PUBLIC_KEY }}" data-replace-closest=".subscribe-form" method="POST">
    {% csrf_token %}

    <input name="stripe_token" type="hidden" />
    <input name="plan" value="simple" type="hidden" />


    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Subscribe now!</button>
    </div>
  </form>
</div>
